<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
 	<display-name>Fake Shop</display-name>

	<servlet>
  		<servlet-name>FakeServlet</servlet-name>
		<servlet-class>fakeshop.servlet.FakeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FakeServlet</servlet-name>
		<url-pattern>/fake</url-pattern>
	</servlet-mapping>
</web-app>
